body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#app {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.choices {
    display: flex;
}

input[type='color'] {
    width: 50px;
    padding: 0;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    opacity: 0.5;
}

#catImg {
    display: block;
    margin: auto;
}

